//- Class, name of top-center-text, name of menu item
-
    let pages = [
        ['main', 'Добро пожаловать', 'Главная'],
        ['classes', 'Направления и классы', 'Направления'],
        ['test1', 'Пробное занятие'],
        ['trainers', 'Преподаватели', 'Преподаватели'],
        ['prices', 'Абонементы', 'Абонементы'],
        ['schedule', 'Расписание', 'Расписание'],
        ['reviews', 'Отзывы', 'Отзывы'],
        ['test2', 'Пробное занятие'],
        ['contacts', 'Контакты', 'Контакты'],
        ]

//- Name, description
-
    let classes = [
        ['Для начинающих',
        'Йога для начинающих рассчитана на тех, кто до этого никогда ей не занимался и требует обучения. Такой программный комплекс существует и в нашем центре.',
        'Мы предлагаем посетить бесплатное вводное занятие, чтобы узнать, почему так много людей занимаются йогой и придерживаются здорового образа жизни.'],

        ['Аштанга Виньяса',
        'Аштанга Виньяса йога представляет собой динамичную практику, которая включает в себя определенную последовательность асан, связанных между собой виньясами (системой движения).'],

        ['Универсальная',
        'Эта тренировочная система вобрала в себя всё лучшее из самых сильных и интересных школ йоги, таких как Аштанга Виньяса, Айенгар-йога, Тибетская Гималайская йога и другие.'],

        ['Кундалини',
        'Кундалини-йога - одно из направлений йоги, система упражнений, призванная поднять энергию кундалини из основания позвоночника.'],

        ['Айенгара',
        'Айенгар-йога - разновидность Хатха-йоги, основанная йогином Айенгаром. Характерной особенностью метода является статичное выполнение асан с необходимыми опорами.'],

        ['Терапия',
        'Йога-терапия - это способ при помощи асан оказать воздействие не только на физическое тело (кости, мускулы и суставы), как другие упражнения, но и на физиологический уровень.'],
        ]

//- Name, name form, imege, description
-
    let trainers = [
        ['Максим Казаков', "Максиму", 'images/maksim.png',
        'Занимается йогой Айенгара с 1990 года. Является преподавателем йоги Айенгара с 1997 года. Имеет международный сертификат Junior I. Проводит семинары, занятия разных уровней сложности.',
        'В йогу привел интерес. Является одним из самых опытных преподавателей и опорой нашего центра. Все студенты любят Максима за отзывчивость и индивидуальный подход к каждому.'],

        ['Настя Антипова', "Насте", 'images/classes-image.png',
        'К Насте на практику приходят люди разного возраста с разными физическими данными и возможности. Чтобы все могли практиковать на своем уровне, она дает несколько вариантов сложности одной и той же асаны на уроке.'],
    
        ['Мария Жукова', "Марии", 'images/abonements-image.png',
        'Мария – опытный учитель, она посвятила свою жизнь исследованию того, как функционирует наше тело, и что она может сделать, чтобы помочь другим достичь позитивных изменений в физическом уровне.'],
    ]

//- Title of abonement, price
-   
    let prices = [
        ['Разовое занятие', '300'],
        ['Месяц занятий', '2 000'],
        ['2 месяца занятий', '3 500'],
        ['3 месяца занятий', '4 500'],
        ['Полгода занятий', '8 000'],
        ['Год занятий', '14 000'],
    ]

mixin slide(number)
    -
        let nextPage = (number + 1)
    .section(data-anchor = pages[number][0])
        section.slides
            .menu
                .menu-icon
                .menu-header= 'Меню'
                nav.menu-block
                    ul.menu-opened
                        each val, index in pages
                            if val[2]
                                if val[0] === pages[number][0]
                                    li.menu-opened-item.menu-opened__item_selected
                                        a( href = '#' + val[0] )= val[2]
                                else
                                    li.menu-opened-item
                                        a( href = '#' + val[0] )= val[2]
            .top-center
                .top-center-dot
                .top-center-text= pages[number][1]
            .phone
                a.phone-number(href="tel:+78121234567")= '+7 (812) 123-45-67'
            .logo-left
            block
            .pages
                .pages-top= '0' + nextPage
                .pages-bottom= '-09'
            .social
                p.social-vk= 'Vk'
                p.social-fb= 'Fb'
                p.social-inst= 'Inst'
            if (number === pages.length - 1)
                a.scroll-down(href='#' + pages[0][0])
                    p.scroll-down-text= 'В начало'
                    .scroll-down-arrow-up
            else
                a.scroll-down(href='#' + pages[nextPage][0])
                    p.scroll-down-text= pages[nextPage][1]
                    .scroll-down-arrow

mixin slideClass(number)
    article.slide
        h3.classes-head= classes[number][0]
        div.classes-descriptions
            if classes[number].length === 2
                p.classes-description= classes[number][1]
            else if classes[number].length > 2
                - for(var i = 1; i < classes[number].length; i++)
                  p.classes-description= classes[number][i]

mixin slideTrainer(number)
    -
        let buttonTrainerWords = "Записаться к "
    article.slide.slide-trainers
        div.trainers-item
            img(src=trainers[number][2]).trainers-image
            div.trainers-text
                h2.trainers-head= trainers[number][0]
                if trainers[number].length === 3
                    p.trainers-description= trainers[number][2]
                else if trainers[number].length > 3
                    - for(var i = 3; i < trainers[number].length; i++)
                      p.trainers-description= trainers[number][i]
                form.trainers-button(action='#test1')
                    button.button-sign-up= buttonTrainerWords + trainers[number][1]

mixin priceCell(number)
    td.prices-table-td
        div.prices-td-wrapper
            div.prices-head
                p.prices-title= prices[number][0]
                div.prices-price
                    .prices-sum= prices[number][1]
                    .prices-rub= ' руб.'
            a.try.prices-try(href='#test1')
                img.try-plus(src='images/plus.png')

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/ellipse-plus.png" type="image/png">
    <title>Центр йоги Lotos</title>
</head>
<body>
    <div class="fullscreen-slide-wrapper">
        +slide(0)
            <img src="images/image-main.png" class="main-image">
                <div class="main-inscription">
                    <div class="lotos-inscription">
                        <p class="center-yoga">
                            |Центр йоги
                        </p>
                        <p class="lotos">
                            |Lotos
                        </p>
                    </div>
                    <section class="try">
                        <a class="try" href='#test1'>
                            <img class="try-plus" src='images/plus.png'>
                            <p class="try-inscription">
                                |Приглашаем вас и ваших друзей на бесплатное пробное занятие
                            </p>
                        </a>
                    </section>
                </div>
        +slide(1)
            nav.menu-classes
                h2.yoga(class= 'yoga-menu')= 'Yoga —'
                ul.menu-classes-opened
                    each val, index in classes
                        -
                            let selectedClassIndex = index + 1
                        li.menu-opened-item
                            a(href= '#classes/' + index)= val[0]
            <img src="images/classes-image.png" class="classes-image">
            <div class="classes-text">
                <h2 class="yoga yoga-classes-header">
                    |Yoga —
                </h2>
                <nav class="switch-classes-arrows">
                    <img src="images/ellipse-arrow.png" class="switch-classes-arrow switch-classes-back">
                    <img src="images/ellipse-arrow.png" class="switch-classes-arrow switch-classes-forward">
                </nav>
                each num, index in classes
                    +slideClass(index)
                <form action='#test1'>
                    <button class="button-sign-up">
                        |Записаться онлайн
                    </button>
                </form>
            </div>
        +slide(2)
            <img src="images/form1-image.png" class="test-03-image">
            <div class="test-03-form-wrapper">
                <p class="test-03-header"><span class="test-03-discount">10%</span> скидка на абонемент</p>
                <p class="test-03-description">Мы сделаем для вас 10% скидку на абонемент, купленный в день посещения вводного занятия.</p>
                <form class="test-form">
                    <label>Имя:<input type="text" placeholder="Ваше имя" required></label><br>
                        
                    <label>Телефон:<input id="online_phone" name="phone" type="tel" required
                                | value="+7(___)___-__-__"
                                | pattern="\+7\s?[\(]{0,1}9[0-9]{2}[\)]{0,1}\s?\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2}"
                                | placeholder="+7(___)___-__-__"></label><br>
                        
                    <button type="submit" class="submit">Отправить заявку</button>
                </form>
                <p class="after-form-attention">Нажимая «Отправить заявку», вы даете согласие на обработку своих персональных данных</p>
            </div>
        +slide(3)
            nav.switch-trainers-arrows
                <img src="images/ellipse-arrow.png" class="switch-trainers-arrows-back">
                <img src="images/ellipse-arrow.png" class="switch-trainers-arrows-forward">
            nav.trainers-menu
                h2.trainers-menu-header= 'Тренер —'
                ul.menu-trainers-opened
                    each val, index in trainers
                        -
                            let selectedTrainerIndex = index + 1
                        li.menu-opened-item
                            a(href= '#trainers/' + index)= val[0]
            each num, index in trainers
                +slideTrainer(index)

        +slide(4)
            <img src="images/abonements-image.png" class="prices-image">
            div.prices-wrapper
                table.prices-table
                    tr.prices-table-tr
                        +priceCell(0)
                        +priceCell(1)
                    tr.prices-table-tr
                        +priceCell(2)
                        +priceCell(3)
                    tr.prices-table-tr
                        +priceCell(4)
                        +priceCell(5)
                <form class="prices-button" action='#test1'>
                    <button class="button-sign-up">
                        |Заказать абонемент
                    </button>
                </form>
        +slide(5)
        +slide(6)
        +slide(7)
        +slide(8)
    </div>
</body>

<script type="text/javascript" src="js/index.js"> </script>

</html>